<div class="chat-header">
  <div class="friend-avatar">
    <%= image_tag user.get_profile_picture %>
  </div>
  <div class="friend-name">Friend name</div>
  <div class="chat-header-icon" data-controller="chat" data-action="click->chat#minimizeChat">
    <%= show_svg('icons/remove-outline.svg')%>
  </div>
  <div class="chat-header-icon" data-controller="chat" data-action="click->chat#hideChat">
    <%= show_svg('icons/close.svg')%>
  </div>
</div>
<div id="messages">
  <% @messages.each do |message| %>
    <%= render partial: "messages/message", locals: { message: message }%>
  <% end %>
</div>
<%= form_with model: Message.new(sender_id: current_user.id, receiver_id: user.id), data: { controller: "form", action: "turbo:submit-end->form#clear" }, class: "new-message" do |f| %>
  <%= f.text_field :body, class: "new-message-text", autocomplete: "off" %>
  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.hidden_field :receiver_id, value: user.id %>
  <%= f.button nil, class: "new-message-send" do %>
    <%= show_svg('icons/arrow-circle-right.svg') %>
  <% end %>
<% end %>
