<div id="<%= dom_id comment %>" class="comment" data-controller="comment">
  <div class="comment-self">
    <div class="user-pic"><%= show_svg(comment.user.get_profile_picture) %></div>
    <div class="comment-body">
      <div class="comment-user-name"><%= comment.user.name %></div>
      <div class="comment-text"><%= comment.text %></div>
    </div>
    <%= turbo_frame_tag "#{dom_id(comment)}_like_count", class: "comment-likes" do %>
      <%= render partial: 'likes/like_count', locals: { likeable: comment } %>
    <% end %>
    <div class="comment-edit clickable-text"><%= show_svg('icons/more-horizontal.svg') %></div>
    <div class="comment-actions">
      <%= turbo_frame_tag dom_id(comment) + "_like", class: "comment-like clickable-text" do %>
        <%= render partial: 'likes/like_buttons', locals: { likeable: comment } %>
      <% end %>
      <div class="comment-reply clickable-text" data-action="click->comment#toggleReply">Reply</div>
      <div class="created-at"><%= comment.time_difference %>
        <span class="created-at-hovered"> <%= comment.hover_date %> </span>
      </div>
    </div>
  </div>
  <div class="new-comment hidden" data-comment-target="reply" >
    <div class="user-pic"><%= show_svg(comment.user.get_profile_picture) %></div>
    <%= render partial: 'comments/form', locals: { commentable: comment } %>
  </div>
  <div id="<%= dom_id comment%> comments" class="comment-comments">
    <%= render partial: 'comments/comment', collection: comment.comments.includes(:comments, :user, :likes) %>
  </div>
</div>