<%= turbo_frame_tag id="new-comment" do %>
  <div class="user-pic">Usr pic</div>
  <%= form_for [@post, @comment], data: { controller: "form", action: "turbo:submit-end->form#clear" } do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_area :text, data: { controller: "textarea", action: "input->textarea#resize" } %>
    <%= f.submit %>
  <% end %>
<% end %>