<%= turbo_frame_tag "user-left-details" do %>
  <div><%= "From: #{user.user_info.city}" unless user.user_info.city.blank? %></div>
  <div><%= "School: #{user.user_info.school}" unless user.user_info.school.blank? %></div>
  <div><%= "Work: #{user.user_info.workplace}" unless user.user_info.workplace.blank? %></div>
  <div><%= "Birthday:#{user.user_info.birthday}" unless user.user_info.birthday.blank? %></div>
  <div><%= user.user_info.details unless user.user_info.details.blank? %></div>
<% end %>