<%= turbo_frame_tag "user-actions", class: "buttons" do %>
  <% if user == current_user %>
    <div class="button"  data-controller="modal" data-button="edit" data-user="<%= current_user.id %>" data-action="click->modal#showModal">
      Edit profile
    </div>
  <% else %>
    <div id="user-actions-send-message" data-user="<%= user.id %>" data-action="click->user#sendMessage" class="button">Send message</div>
    <% friendship_id = Friendship.find_by_ids(user.id, current_user.id) %>
    <% if current_user.friends_with?(user: user) %>
      <%= button_to "Remove friend", friendship_path(friendship_id), method: :delete, class:"button delete" %>
    <% elsif current_user.friend_request_sent?(user_id: user) %>
      <%= button_to "Unsend friend request", friendship_path(friendship_id), method: :delete, class:"button delete"%>
    <% elsif current_user.friend_request_received?(user_id: user) %>
      <%= button_to "Accept friend request", friendship_path(friendship_id, friend_id: user.id ), method: :patch, class:"button"%>
    <% else %>
      <%= button_to "Add friend", friendships_path(user_id: current_user.id, friend_id: user.id), class:"button"%>
    <% end %>
  <% end %>
<% end %>