<%= form_with model: current_user.user_info, data: { controller: "modal", action: "turbo:submit-end->modal#hideModal" } do |f| %>
  <div class="fields">
    <%= f.label :city %>
    <%= f.text_area :city %>
  </div>
  <div class="fields">
    <%= f.label :school %>
    <%= f.text_area :school %>
  </div>
  <div class="fields">
    <%= f.label :workplace %>
    <%= f.text_area :workplace %>
  </div>
  <div class="fields">
    <%= f.label :birthday %>
    <%= f.date_field :birthday %>
  </div>
  <div class="fields">
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>
  <div class="fields">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, accept: 'image/png, image/jpeg, image/jpg' %>
  </div>
  <div class="fields">
    <%= f.label :background %>
    <%= f.file_field :background, accept: 'image/png, image/jpeg, image/jpg' %>
  </div>
  <div class="buttons">
    <%= f.submit "Edit", class: "button" %>
    <div class="cancel button" data-action="click->modal#hideModal">Cancel</div>
  </div>
<% end %>