<%= turbo_frame_tag "main" do %>
  <div id="profile" data-controller="user">
    <div id="user-basic">
      <div id="user-background">
        Background picture
      </div>
      <div id="user-info">
        <div id="user-profile-pic"><%= show_svg(@user.get_profile_picture)%></div>
        <div id="user-instant">
          <div id="user-name"><%= @user.name %></div>
          <div id="user-friend-number">
            <% if @friends_count == 1 %>
              1 friend
            <% else %>
              <%= @friends_count %> friends
            <% end %>
            <%= render partial: "friendships/mutual_friends_number", locals: { other_user: @user } %>
          </div>
            <%= render partial: "friendships/friend_heads", locals: { user: @user, amount: 8} %>
        </div>
        <%= render partial: "users/user_actions", locals: { user: @user }%>
      </div>
      <div id="user-header">
        <div id="user-header-posts" data-user-target="posts" class="button active" data-change="posts" data-user="<%= @user.id %>" data-action="click->user#swap click->user#changeActive">
          Posts
        </div>
        <div id="user-header-about" data-user-target="about" class="button" data-change="about" data-user="<%= @user.id %>" data-action="click->user#swap click->user#changeActive">
          About
        </div>
        <div id="user-header-friends" data-user-target="friends" class="button" data-change="friends" data-user="<%= @user.id %>" data-action="click->user#swap click->user#changeActive">
          Friends
        </div>
      </div>
    </div>

    <%= turbo_frame_tag id="profile-content", src:get_profile_path(change: "posts", id: @user) do %>
      <div class="spinner-background">
        <div class="lds-dual-ring"></div>
      </div>
    <% end %>
  </div>
<% end %>