<div data-controller="chat" data-user="<%= chat.other_user(current_user).id %>" data-action="click->chat#showChat" class="dropdown-chat">
  <div class="dropdown-chat-avatar">
    <%= image_tag(chat.other_user(current_user).get_profile_picture) %>
  </div>
  <div class="dropdown-chat-name">
    <%= chat.other_user(current_user).name %>
  </div>
  <div class="dropdown-chat-date">
    <%= chat.messages.last.created_at.strftime("%H:%M, %d/%m") unless chat.messages.last.nil? %>
  </div>
  <div class="dropdown-chat-last-message">
    <%= chat.messages.last.body unless chat.messages.last.nil? %>
  </div>
</div>
