<div id="friend-requests">
  <% current_user.friend_requests.includes(:user).each do |friend_request| %>
    <%= turbo_frame_tag dom_id(friend_request), class: "friend-request" do %>
      <%= button_to friendship_path(friend_request), method: :patch do %>
        <%= show_svg('icons/user-plus.svg') %>
      <% end %>
      <%= link_to friend_request.user, data: { turbo_frame: "main", turbo_action: "advance" } do %>
        <%= image_tag friend_request.user.get_profile_picture %>
        <div><%= friend_request.user.name %></div>
      <% end %>
    <% end %>
  <% end %>
</div>