<% if notice %>
  <%= turbo_stream.remove "#{dom_id @friendship}" %>
  <%= turbo_stream.replace "friend-list" do %>
    <%= turbo_frame_tag "friend-list" do %>
      <% current_user.friends.each do |friend| %> 
        <%= link_to friend, class:"friend", data: { turbo_frame: "main" } do %>
          <%= show_svg(friend.get_profile_picture) %>
          <div><%= friend.name %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%# TODO: show number of friend requests, update ?  %>

  <%= render_turbo_stream_flash_messages %>
<% elsif alert %>
  <%= render_turbo_stream_flash_messages %>
<% end %>