<div class="post" id="<%= dom_id post %>" data-controller="post">
  <div class="post-info">
    <%= link_to post.user, class: "user-pic" do %>
      <%= show_svg(post.user.get_profile_picture) %>
    <% end %>
    <%= link_to user_path(post.user), class: "user-name" do %>
      <%= post.user.name %>
    <% end %>
    <div class="created-at"><%= post.time_difference %>
      <span class="created-at-hovered"> <%= post.hover_date %> </span>
    </div>
    <div class="post-edit clickable-text"><%= show_svg('icons/more-horizontal.svg') %></div>
  </div>
  <div class="post-body">
    <%= post.text %>
  </div>
  <div class="post-actions">
    <%= turbo_frame_tag "#{dom_id(post)}_like_count", class: "post-like-number" do %>
      <%= render partial: 'likes/like_count', locals: { likeable: post } %>
    <% end%>
    <%= turbo_frame_tag "#{dom_id(post)}_comment_count", class: "post-comments-number clickable-text", data: { action: "click->post#toggleComments" } do %>
      <%= render partial: 'comments/comment_count', locals: { post: post } %>
    <% end%>
  </div>
  <div class="post-buttons">
    <%= turbo_frame_tag dom_id(post) + "_like", class: "post-like-button" do %>
      <%= render partial: 'likes/like_buttons', locals: { likeable: post } %>
    <% end %>
    <div class="post-comment-button" data-action="click->post#showComments"><%= show_svg('icons/write.svg') %> Comment</div>
    <div class="post-share-button"><%= show_svg('icons/share-alt.svg') %> Share</div>
  </div>
  <div class="post-comments hidden slideout" data-post-target="comments">
    <div class="new-comment" >
      <%= link_to post.user, class: "user-pic" do %>
        <%= show_svg(post.user.get_profile_picture) %>
      <% end %>
      <%= render partial: 'comments/form', locals: { commentable: post } %>
    </div>
    <div id="<%= dom_id post %> comments" class="comments" data-post-target="commentOverflow">
      <%= render partial: 'comments/comment', collection: post.comments.includes(:comments, :user, :likes) %>
    </div>
    
    <div class="post-comments-display-all clickable-text" data-action="click->post#toggleOverflow" data-post-target="displayComments">Display all comments</div>
  </div>
</div>
