<div class="post" id="<%= dom_id post %>" data-controller="post">
  <div class="post-info">
    <div class="user-pic"><%= show_svg("avatar.svg") %></div>
    <div class="user-name">
      <%= link_to user_path(post.user) do %>
        <%= post.user.name %>
      <% end %>
    </div>
    <div class="post-date"> <%= post.created_at %></div>
    <div class="post-edit">Edit</div>
  </div>
  <div class="post-body">
    <%= post.text %>
  </div>
  <div class="post-actions">
    <%= turbo_frame_tag "#{dom_id(post)}_like_count", class: "post-like-number" do %>
      <%= render partial: 'likes/like_count', locals: { likeable: post } %>
    <% end%>
    <div class="post-comments-number" data-action="click->post#toggleComments">
      <%= turbo_frame_tag "#{dom_id(post)}_comment_count" do %>
        <%= render partial: 'comments/comment_count', locals: { post: post } %>
      <% end%>
    </div>
  </div>
  <div class="post-buttons">
    <%= turbo_frame_tag dom_id(post) + "_like", class: "post-like-button" do %>
      <%= render partial: 'likes/like_buttons', locals: { likeable: post } %>
    <% end %>
    <div class="post-comment-button" data-action="click->post#showComments">Comment</div>
    <div class="post-share-button">Share</div>
  </div>
  <div class="post-comments hidden" data-post-target="comments">
    <div class="new-comment" >
      <div class="user-pic"><%= show_svg("avatar.svg") %></div>
      <%= render partial: 'comments/form', locals: { commentable: post } %>
    </div>
    <div id="<%= dom_id post %> comments" class="comments" data-post-target="CommentOverflow">
      <%= render partial: 'comments/comment', collection: post.comments.includes(:comments, :user, :likes) %>
    </div>
    
    <div class="post-comments-display-all" data-action="click->post#toggleOverflow" data-post-target="displayComments">Display all comments</div>
  </div>
</div>
