<%= turbo_frame_tag id="community-basic" do %>
  <div id="community-background">
    <%= image_tag community.bg_image %>
  </div>
  <div id="community-info">
    <div id="community-instant">
      <div id="community-name"><%= community.name %></div>
      <div id="community-details">
        <div id="community-private">
          <% if community.private? %>
            Private · 
          <% else %>
            Public · 
          <% end %>
        </div>
        <div id="community-member-count">
          <% if community.members_count == 1 %>
            1 member
          <% else %>
            <%= community.members_count %> members
          <% end %>
        </div>
      </div>
      <%= render partial: "communities/community_actions", locals: { community: community } %>
    </div>
  </div>
<% end %>