<%= turbo_frame_tag "main" do %>
  <div id="main-feed">
    <%= render partial: "communities/community_details", locals: { community: @community } %>
    <% if current_user.member_of?(@community) %>
      <div id="new-post">
        <div class="user-pic"><%= image_tag current_user.get_profile_picture %></div>
        <%= render 'communities/post_form'%>
      </div>
    <% end %>

    <div id="posts">
      <% @community.ordered_posts.each do |post| %>
        <%= turbo_frame_tag id="#{dom_id post}", src: post_path(post.id), loading: :lazy do %>
          <span class="loader"></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>