<header>
  <div id="header-left-options">
    <div id="header-logo">
        <%= link_to root_path, data: { turbo_frame: "main", turbo_action: "advance" } do %>
          <%= show_svg('icons/facebook-circle.svg') %>
        <% end %>
    </div>
    <%= render 'layouts/search_form' %>
  </div>
  
  <%# TODO: add active %>
  <div id="header-middle-options">
    <%= link_to root_path, id: "header-middle-posts", data: { turbo_frame: "main", turbo_action: "advance"  } do %>
      <%= show_svg('icons/home-outline.svg')%>
    <% end %>
    <%= link_to communities_path, id: "header-middle-communities", data: { turbo_frame: "main", turbo_action: "advance" } do %>
      <%= show_svg('icons/people-outline.svg')%>
    <% end %>
  </div>

  <div id="header-right-options" data-controller="header">
    <div id="header-right-messages" data-dropdown="messages" data-action="click->header#toggleDropdown" data-header-target="messagesButton">
      <%= show_svg('icons/chatbubbles-outline.svg')%>
    </div>
    <div id="header-right-messages-dropdown" class="hidden" data-header-target="messagesDropdown">
      <% current_user.chats.joins(:messages).group('chats.id').order("MAX(messages.created_at) DESC").each do |chat| %>
        <div data-controller="chat" data-user="<%= chat.other_user(current_user).id %>" data-action="click->chat#showChat" class="dropdown-chat">
          <div class="dropdown-chat-name">
            <%= chat.other_user(current_user).name %>
          </div>
          <div class="dropdown-chat-date">
            <%= chat.messages.last.created_at.strftime("%H:%M, %d/%m")unless chat.messages.last.nil? %>
          </div>
          <div class="dropdown-chat-last-message">
            <%= chat.messages.last.body unless chat.messages.last.nil? %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="header-right-notifications" data-dropdown="notifications" data-action="click->header#toggleDropdown" data-header-target="notificationsButton">
      <%= show_svg('icons/notifications-outline.svg')%>
    </div>
    <div id="header-right-notifications-dropdown" class="dropdown hidden" data-header-target="notificationsDropdown">
      <div>aaa</div>
      <div>aaa</div>
    </div>
    <div id="header-right-profile" data-dropdown="profile" data-action="click->header#toggleDropdown" data-header-target="profileButton">
        <%= image_tag current_user.get_profile_picture %>
    </div>
    <div id="header-right-profile-dropdown" class="dropdown hidden" data-header-target="profileDropdown">
      <%= link_to user_path(current_user), data: { turbo_frame: "main", turbo_action: "advance" } do %>
        <%= show_svg('icons/user.svg') %>
        <div>Profile</div>
      <% end %>
      <%= link_to root_path do %>
        <%= show_svg('icons/settings-outline.svg') %>
        <div>Settings</div>
      <% end %>
      <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false } do %>
        <%= show_svg('icons/log-out-outline.svg') %>
        <div>Log out</div>
      <% end %>
    </div>
  </div>
</header>