<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Workaround for broadcasting messages %>
    <style>
      <% if user_signed_in? %>
        <%= ".from-#{current_user.id}" %> {
          margin-left: auto !important;
          margin-right: 0 !important;
          display: block !important;
        }
        <%= ".from-#{current_user.id} .message-body" %> {
          background-color: var(--like-color) !important;
        }

        <%= ".avt-from-#{current_user.id}" %> {
          display: none !important;
        }
      <% end %>
    </style>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%= render 'layouts/header'%>

    <%# Flash panel %>
    <div id="left-panel">
      <%= turbo_frame_tag "flash" do %>
        <%= render "layouts/flash" %>
      <% end %>
    </div>

    <%# Content %>
    <%= yield %>

    <%= turbo_frame_tag "friends-panel" do %>
      <%= render 'friendships/friend_requests' %>
      <hr>
      <%= render 'friendships/friend_list' %>
    <% end %>

    <%# Chat %>
    <%= turbo_frame_tag "active_chat" do %>
      <%= render "chats/active_chat" %>
    <% end %>

    <%# Edit/delete popup modal %>
    <%= render 'layouts/modal' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
